<div class="fullscreen fxLayout fxLayoutAlign="center center>
  <!-- fxFlex="1 1 400px" Inicia a con este ancho -->
  <!-- fxFlex.lt-sm="1 1 320px" Ha cierta medida "lt-sm" el elemento va tener un ancho de 320px -->
  <mat-card fxFlex="1 1 400px" fxFlex.lt-sm="1 1 320px" class="mat-elevation-z12"> <!-- mat-elevation-z12, sombre de elemento -->
    <mat-card-content>
      <form fxLayout="column">
        <h2>Ingrese sus credenciales</h2>
        <mat-form-field appareance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email">
        </mat-form-field>
        <mat-form-field appareance="outline">
          <mat-label>Password</mat-label>
          <input type="text" matInput name="password">
        </mat-form-field>
        <div fxLayout fxLayoutAlign="center">
          <button mat-flat-button color="primary">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
