<mat-sidenav-container>

  <mat-sidenav #menuSide> <!-- Este elemento es el que mostraremos al darle click en el menu hamburguesa. -->
    <mat-nav-list> <!-- Módulo para navegación de menu-->
      <mat-list-item>
        <a matLine href=""><mat-icon>person</mat-icon><span class="titleItem">USERS</span></a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <app-header class="main-header" [menu]="menuSide"></app-header>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
